@model IEnumerable<SIKONSystem.Models.Booking>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Oversigt af bookings</h1>

<p>
    <a asp-action="Create">Opret booking</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lecture)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        if (item.WaitList == 0)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lecture.Title)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.BookingId">Detaljer</a>
                </td>
            </tr>
        }
    }
    </tbody>
</table>

<h1>Oversigt af venteliste</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lecture)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        if (item.WaitList == 1)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lecture.Title)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.BookingId">Detaljer</a>
                </td>
            </tr>
        }
    }
    </tbody>
</table>
